* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

body {
    font-size: 14px;
}
  
  /* Style the tab */
.tabList {
    overflow: hidden;
}

  /* Style the buttons that are used to open the tab content */
.tabList button {
    float: left;
    outline: none;
    cursor: pointer;
    width: 100px;
    padding: 0px 5px;
    transition: 0.3s;
    font-size:large;
}

.tabList.mainTabs button {
    width: 150px;
    padding: 15px 50px;
    text-align: left;
}

.tabList button.addSubTab {
    width:auto;
}

.mainArea{
    display: flex;
    width: 100%;
}

.workspace{
    float:left;
    display: block;
    width:100%-100px;
    flex: 999;
}

.sidebar{
    position: absolute;
    right: 0px;
    width: 200px;
    top: 84px;
    height: calc(100% - 84px);
}

.sidebar.no-subtabs{
    top: 58px;
    height: calc(100% - 58px);
}

.sectionTitle {
    display: block;
    width:200px;
    padding: 0px 5px;
}

.fieldInsertButtons button{
    display:block;
    width:100%;
    padding: 14px 14px;
}

.bottomButtons{
    position: absolute;
    display: block;
    bottom: 0px;
}

.bottomButtons button{
    position: relative;
    display: block;
    margin: 15px;
    left: 10px;
    width: 150px;
    height: 40px;
}

.return-to-fill{
    position: relative;
    margin: 16px;
    display: block;
    padding:8px 12px;
}

.textareaField{
    margin: 16px;
    width: calc(100% - 232px);
    height: calc(100% - 116px);
}

.textareaField textarea{
    width:100%;
    height:calc(100vh - 116px);
} 

.floorButton{
    position: absolute;
    display:flex;
    bottom:0px;
    right:0px;
    width: 200px;
}

.floorButton button{
    position:relative;
    display:block;
    padding:12px;
    font-size: medium;
}

.cardSection{
}

.cardSample{
    display: block;
    width: 200px;
    height: 40px;
    max-height: 40px;
    font-size: large;
    text-align: left;
    padding: 20px 0px 0px 20px;
}

.downloadCardSrc{
    position: relative;
    left:75px;
    top:-8px;
    width: 30px;
    height: 30px;
}

.anim-icon{
    position:fixed;
    top:8px;
    height:40px;
    pointer-events: none;
}
